.MonsterType {
    vertical-align: middle;
    font-size: 1.5em;

    &.beast {
        color:darkmagenta;
        vertical-align: middle;
        font-size: 1.5em;
    }
    &.cursed {
        color:ghostwhite;
        vertical-align: middle;
        font-size: 1.5em;
    }
    &.draconid {
        color: gold;
        vertical-align: middle;
        font-size: 1.5em;
    }
    &.elementa {
        color:lightblue;
        vertical-align: middle;
        font-size: 1.5em;
    }
    &.hybrid {
        color:yellow;
        vertical-align: middle;
        font-size: 1.5em;
    }
    &.insectoid {
        color:yellowgreen;
        vertical-align: middle;
        font-size: 1.5em;
    }
    &.necrophage {
        color: grey;
        vertical-align: middle;
        font-size: 1.5em;
    }
    &.ogroid {
        color: orange;
        vertical-align: middle;
        font-size: 1.5em;
    }
    &.specter {
        color: ghostwhite;
        vertical-align: middle;
        font-size: 1.5em;
    }
    &.vampire {
        color: crimson;
        vertical-align: middle;
        font-size: 1.5em;
    }
}